
<div class="question-box">
  <p><%= params[:question]  %></p>
  <p><i>- You</i></p>
</div>
<div class="response-box">
  <p><%= @answer  %></p>
  <p><i>- Coach</i></p>
</div>
<br>
<p id="link"><%= link_to "Ask another question", ask_path  %></p>


